body {
  color: #303841;
  font-family: Rubik, sans-serif;
  margin: 0;
  display: block;
}
.App_mainContent_12BYb {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 760px;
  margin: 0 auto;
}
.App_mainContent_12BYb:before {
  content: "";
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%) skewY(-8deg);
  background-color: #f6c90e;
  z-index: -1;
  -webkit-animation: App_wave_3CtRm 8s ease-in-out infinite alternate;
  animation: App_wave_3CtRm 8s ease-in-out infinite alternate;
}
.App_card_38zmH {
  background-color: #fff;
  box-sizing: border-box;
  width: 360px;
  height: 600px;
  box-shadow: 0 3.2px 2.2px rgba(0, 0, 0, 0.02),
    0 7px 5.4px rgba(0, 0, 0, 0.028), 0 12.1px 10.1px rgba(0, 0, 0, 0.035),
    0 19.8px 18.1px rgba(0, 0, 0, 0.042), 0 34.7px 33.8px rgba(0, 0, 0, 0.05),
    0 81px 81px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  overflow: hidden;
  padding: 0 28px;
  position: relative;
  margin-bottom: 20px;
}
.App_cardTop_3hHIG {
  margin: 12px 0;
  position: relative;
}

.App_cardTitle_29nyq {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0;
  position: relative;
}
.App_cardBody_1tfYc {
  height: calc(100% - 98px);
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}
.App_cardTopLogo_2ho9K {
  display: block;
  width: 50px;
}
.App_shopItemButton_23FO1 {
  cursor: pointer;
  background-color: #f6c90e;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  height: 46px;
  min-width: 46px;
  padding: 16px 20px;
  border-radius: 100px;
  transition: all 0.25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.App_shopItemBottom_3401 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.App_shopItemPrice_2SLiG {
  font-size: 18px;
  font-weight: 700;
  width: fit-content;
}
.App_shopItemImage_341iU img {
  display: block;
  width: 100%;
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
  transform: rotate(-24deg);
  margin-left: -16px;
}
.App_shopItem_3FgVU {
  padding: 40px 0;
}
.App_card_38zmH:before {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #f6c90e;
  top: -20%;
  left: -50%;
  z-index: 0;
}
.App_shopItemName_1_FJR {
  font-size: 20px;
  font-weight: 700;
  margin: 26px 0 20px;
  line-height: 1.5;
}
.App_shopItemDescription_1EIVK {
  font-size: 13px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}
.App_cardTitle_29nyq {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0;
  position: relative;
}
.App_cardTitleAmount_17QFR {
  float: right;
}
.App_cartEmptyText_2mtqJ {
  font-size: 14px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.App_cartItemRight_2LNcC {
  flex: 1;
}
.App_cartItemImageBlock_wRE4E img {
  display: block;
  width: 140%;
  transform: rotate(-28deg) translateY(-40px);
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
}

.App_cartItemName_3he6M {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}
.App_cartItemPrice_R0sr2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.App_cartItemCount_1GCCN {
  flex: 1;
}
.App_cartItemCountButton_Gr8VG {
  cursor: pointer;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: #eee;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.App_cartItemCountNumber_1Evq9 {
  font-size: 14px;
  margin: 0 8px;
  width: 20px;
  text-align: center;
}
.App_cartItemRemove_1GiLR {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: all 0.25s ease;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6c90e;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.App_cartItemLeft_1HqDk {
  flex: 0;
}
.App_cartItemActions_13kia,
.App_cartItemCount_1GCCN {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.App_cartItemImageBlock_wRE4E {
  border: 1px solid red;
}
.App_cartItemImageBlock_wRE4E img {
  display: flex;
  width: 100%;
  transform: rotate(-28deg) translateY(-40px);
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
  padding: none;
}
.App_cartItemLeft_1HqDk {
  flex: 0;
  width: 50%;
}
.App_cartItem_lfA9I {
  color: #303841;
  font-family: Rubik, sans-serif;
}
